/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body { 
	background-image: url("https://github.com/zarrar1607/zarrar1607.github.io/blob/main/images/TRM-19-GIF_Trim.gif?raw=true");
	background-repeat: no-repeat;
	background-position: top;
	background-color: black;
	color: aliceblue;
}
header,footer{
	text-align: center;
	width: 100%;
    position: fixed; 
}
header{
	top: 0%;
}
footer{
	bottom: 0%;
}
h1{
	font-size: 100px;
	margin-bottom: 0px;
	color: rgba(108, 8, 189);
}
h3{
	font-size: 40px;
	margin-top: 0px;
	color: rgba(108, 8, 189, 0.9);
	font-style: italic;
}
.info{
	font-size: 23px;
}
input, select{
	font-size: 15px;
	color: black;
}
select{
	padding: 5px;
}

.info label{
	background-color: rgba(108, 8, 189, 0.5);
	border-radius: 1em;
	padding: 10px 10px;
}
.info .col-md-4{
	box-sizing: border-box;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.info .col-md-6{
	box-sizing: border-box;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	
}
.info .col-md-12{
	box-sizing: border-box;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}
.submit{
	font: 60 30px/30px "Helvetica Nue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: rgba(108, 8, 189);
	border-color: rgba(108, 8, 189);
	border-radius: 5em;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	font-style: italic;
	background-color: transparent;
	padding: 10px;

}